#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
  #whatcontent {
    display: none; /* 初始隱藏內容 */
  }
  /* 載入畫面 */
.spinner {
  width: 36.4px;
  height: 36.4px;
  animation: spinner-y0fdc1 2.4s infinite ease;
  transform-style: preserve-3d;
}

.spinner > div {
  background: linear-gradient(to bottom, #004b9743, #24b6856f);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 1.5px solid #fff
  ;
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-18.2px) rotateY(-360deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(18.2px);
}

@keyframes spinner-y0fdc1 {
  0% {
     transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}