* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  scroll-behavior: smooth;
  overflow-y: visible;
}

#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.hidden {
display: none !important;
} 
/* #whatcontent {
display: none;
} */
/* 載入畫面 */
.spinner {
width: 36.4px;
height: 36.4px;
animation: spinner-y0fdc1 2.4s infinite ease;
transform-style: preserve-3d;
}

.spinner > div {
background: linear-gradient(to bottom, #004b9743, #24b6856f);
height: 100%;
position: absolute;
width: 100%;
border: 1.5px solid #fff
;
}

.spinner div:nth-of-type(1) {
    transform: translateZ(-18.2px) rotateY(-360deg);
}

.spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}

.spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}

.spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}

.spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
    transform: translateZ(18.2px);
}

@keyframes spinner-y0fdc1 {
    0% {
        transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}
.scroll-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    animation: float 2s infinite;
}

.scroll-down svg {
    width: 40px;
    height: 40px;
    fill: #fff; /* 你的主題色 */
}
#hero{ position:relative; min-height:320px; }

@keyframes float {
    0%, 100% {
    transform: translate(-50%, 0px);
    }
    50% {
    transform: translate(-50%, 10px);
    }
}

.container-fluid {
    --bs-gutter-x: 2rem !important;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}
.picture {
    height: 39px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}
.h1_school{
    color: #000;
    z-index: 100;
    font-weight: 700;
    font-size: 7.5rem;
    position: relative;
    top: 35vh;
    text-align: center;
    line-height: 60px;
    letter-spacing: 10px;
    font-family: 'TimeMachine';
    /* TODO 字距 */
}
.titlecenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
}
.titlecenter h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 2rem;
    font-family: 'TimeMachine';
}
.titlecenter h2 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.shopbtn {
    background-color: #FFC857;
    color: #004b97;
    border: none;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius:50px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
    margin-top: 2rem;
}
.shopbtn:hover {
    color: white;
    background-color: #004b97;
    border: white 1px solid;
}
.lookbtn {
    background-color: rgba(255, 255, 255, 0.1) ;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius:50px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
    margin-top: 2rem;
    margin-left: 1rem;
}
.lookbtn:hover {
    color: #004b97;
    background-color: #FFC857;
}
.titlecenter img {
    width: 84vw;
    margin-bottom: 1rem;
}
.parner {
    background-color: #fff;
    height: 100vh;
}
/* section {
    min-height: 90vh;
} */
.halfsection {
    padding: 2.4rem;
}
.bookad {
    width: 20vw;
    height: auto;
}
.schooladgif {
    width: 30vw;
    height: auto;
    margin-right: 10rem;
}
.icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.reason {
    height: auto;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f6fd;
}
.reason h2 {
    font-size: 2rem;
    color: #383838;
    padding-bottom: 2rem;
}
.reason p {
    font-size: 1.1rem;
    color: #383838;
    max-width: 800px;
    text-align: center;
    padding-top: 1rem;
}
.runnumimg {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}
.padding-global .row {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #004b97;
}
.trade {
    padding: 2rem;
    background-color:#004b97;
}
.n {
    font-size: 3rem;
    color: #004b97;
    font-weight: 700;
    margin-right: 0.5rem;
}
.heading-style-h5 {
    font-size: 1.2rem;
    color: #383838;
    font-weight: 500;
    margin-left: 0.5rem;
    padding-top: 40px;
    font-weight: 700;
}
.nback {
    background-color: #FFC857;
    padding: 20px 16px;
    border-radius: 10px;
    width: 320px;
}
.service {
    background-color: #fff;
    padding: 2rem;
}
.service .row {
    padding-top: 1.6rem;
}
.service .card{
    min-height: 600px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(54, 137, 247, 0.2);
}
.service h3 {
    font-size: 1.4rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.service h4 {
    font-size: 1rem;
    padding-left: 10px;
}
.service ul {
    padding: 10px 20px;
    font-size: 1rem;
}
.service p {
    font-size: 1.1rem;
    color: #383838;
    padding: 10px 20px;
    margin: 0 auto;
    line-height: 36px;
}
.service h2 {
    padding-bottom: 1.6rem;
}
.footer {
    background-color: #004b97;
    color: white;
    padding: 2rem;
    margin-top: 20vh;
    padding-bottom: 10px;
    font-size:1rem;
}
.footer h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #f0f6fd;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer-row {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.footer-row li {
    margin: 0 10px;
}
.footer-row li a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}
.scroll-wrapper {
position: relative;
width: 75%;
margin: 0 auto;
padding: 40px 80px;
}

.card-scroll-container {
display: flex;
overflow-x: auto;
gap: 16px;
scroll-behavior: smooth;
scrollbar-width: none;
}

.card-scroll-container::-webkit-scrollbar {
display: none;
}

.cardofscroll {
flex: 0 0 350px;
background: #fff;
padding: 20px;
border-radius: 12px;
scroll-snap-align: start;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease;
}

.card:hover {
transform: scale(1.05);
}

.scroll-btn {
position: absolute;
top: 50%;
transform: translateY(-50%);
z-index: 10;
background: #4D81B7;
color: white;
border: none;
border-radius: 50%;
width: 40px;
height: 40px;
cursor: pointer;
box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.scroll-left {
left: 0;
}

.scroll-right {
right: 0;
}

@media (max-width: 768px) {
.scroll-btn {
    display: none;
}
}
@media screen and (max-width: 768px) {
    .titlecenter {
        padding-bottom: 5rem;
    }
    .titlecenter h1 {
        font-size: 2.1rem;
    }
    .titlecenter h2 {
        font-size: 1.6rem;
        margin-left: 20px;
        margin-right: 20px;
    }
    .titlecenter button {
        padding: 0.8rem 1.2rem;
        font-size: 1.2rem;
    }
    .titlecenter img {
        display: none;
    }
    .reason {
        height: auto;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f0f6fd;
    }
    .runnumimg {
    width: 200px;
    height: 200px;
    }
    .phonemargin {
        padding-bottom: 1rem;
    }
}
@media screen and (max-width: 1020px) {
    .service p {
        font-size: 0.8rem;
    }
    .service ul {
        font-size: 0.8rem;
    }
    .service h3 {
        font-size: 1.2rem;
    }
    .service h4 {
        font-size: 0.8rem;
    }
}
