@font-face {
  font-family:'TimeMachine';
  src: url(fonts/timemachine-wa.ttf);
}
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.picture img{
  width: 40px;
  height: 39px;
  border-radius: 50%;
}
.navbar{
  color: white !important;
  background-color: rgb(255, 255, 255); /* 半透明背景 */
  padding: 8px !important;
}
nav{
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
.nav-link{
  font-size: 14px !important;
}
@media (max-width: 1200px) {
  .nav-link{
      font-size: 12px !important;
  }
  .form-search{
      width: 25% !important;
  }
}
.btn-outline-color {
  border: 1px solid rgb(36,182,133) !important;
}
.btn-outline-color:hover{
  color: white !important;
  background-color: rgb(36,182,133) !important;
}
.searchpic:hover {
  color: white !important;
}
/* TODO line官方logo */
.line {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 2px;
}
.line i{
  color: #86D97B;
  font-size: 28px;
}

  /* 表單外框 */
  .form-container {
    border-radius: 1%;
    margin-top: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    padding: 30px;
    background-color: rgba(162, 218, 222, 0.4);
  }
  
  /* 標題樣式 */
  .form-container h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 1.6;
    color:rgb(73, 73, 73);
  }
  
  /* 表單內容排版 */
  .form-content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  /* 問題文字區域 */
  textarea {
    flex: 1;
    min-width: 300px;
    height: 324px;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    box-sizing: border-box;
  }
  
  /* 輸入框組 */
  .input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 300px;
  }
  
  /* 標籤樣式 */
  .input-group label {
    font-size: 0.9rem;
    font-weight: bold;
    color:rgb(95, 95, 95);
  }
  
  /* 輸入框樣式 */
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
   
  }
  
  /* 按鈕樣式 */
  .input-group button {
    margin-top: 15px;
    margin-left: 70%;
    width: 30%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background: #004b97;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  /* 按鈕懸停效果 */
  .input-group button:hover {
    background: rgb(36,182,133);
    color:rgb(255, 255, 255);
  }
.line {
    display: flex;
    justify-content: end;
}
.line i{
    color: #86D97B;
    font-size: 36px;
}