  /* 表單外框 */
  .form-container {
    border-radius: 10px;
    /* margin-top: 100px; */
    width: 100%;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    padding: 30px;
    background-color: white;
  }
  @media (max-width: 380px) {
    .form-container {
      margin-top: 13vh;
      padding: 20px;
      margin: 40px auto;
    }
    .form-container h2 {
      font-size: 1.8rem;
      margin-bottom: 0;
      text-align: center;
    }
  }
  /* 標題樣式 */
  .form-container h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 18px;
    line-height: 1.6;
    color:#383838
  }
  
  /* 表單內容排版 */
  .form-content {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
  }
  
  /* 問題文字區域 */
  textarea {
    flex: 1;
    min-width: 300px;
    height: 324px;
    padding: 15px;
    font-size: 1.3rem !important;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    box-sizing: border-box;
  }
  /* 輸入框組 */
  .input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 300px;
  }
  
  /* 標籤樣式 */
  .input-group label {
    font-size: 1.4rem;
    font-weight: bold;
    color:rgb(95, 95, 95);
  }
  
  /* 輸入框樣式 */
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 1.3rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
   
  }
  
  /* 按鈕樣式 */
  .input-group button {
    margin-top: 15px;
    margin-left: 70%;
    /* width: 30%; */
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background: #004b97;
    border: none;
    border-radius: 6px !important;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  /* 按鈕懸停效果 */
  .input-group button:hover {
    background: rgb(36,182,133);
    color:rgb(255, 255, 255);
  }

.content{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 689px) {
  .content{
      margin-top: 10vh;
  }
}
