.footer {
    background-color: #004b97;
    color: white;
    padding: 2rem;
    margin-top: 20vh;
    padding-bottom: 10px;
    font-size:1.6rem;
}
.footer h3 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
    color: #f0f6fd;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer-row {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.footer-row li {
    margin: 0 10px;
}
.footer-row li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
.asideicon img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
#mainContent {
    padding: 20px;
    /* background-color: #f8f9fa; */
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 5vh;
}
#profileinfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
  }
#profileAvatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: 20px;
}
.editbtn {
  font-size: 1.6rem; 
  border: #004b9743 1px solid;
  background-color: transparent;
}
.editbtn:hover {
  background-color: #004b9743;
  border: none;
}
.list-group-item.active {
    background-color: #004b97 !important;
    color: white !important;
}
  .profile-name {
    font-size: 1.8rem;
    font-weight: bold;
  }
.personcontent{
    width: 86vw;
    margin: 0 auto;
}
.standardfontsize {
    font-size: 1.6rem;
}
.loader {
    width: 60px;
    height: 40px;
    position: relative;
    display: block;
    margin-left: 110px;
    --base-color: #fff; /*use your base color*/
  }
  .loader::before {
    content: '';  
    left: 0;
    top: 0;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #004b97;
    background-image: radial-gradient(circle 8px at 18px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, var(--base-color) 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 3s linear infinite;
  }
  .loader::after {
    content: '';  
    left: 35px;
    top: 15px;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #004b97aa;
    background-image: radial-gradient(circle 5px at 12px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 0px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 24px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 24px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 3px, var(--base-color) 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 4s linear infinite reverse;
  }
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }  
.personcontent h1{
  font-size: 3rem;
  margin-top: 30px;
  margin-bottom: 70px;
  color: #383838;
}
.profile-info p{
  padding-left: 20px;
  padding-right: 20px;
}
#arrowButton {
  cursor: pointer;
  transition: transform 0.3s;
  display: block;
  margin: 0 auto;
}

#arrowButton:active {
  color: rgba(36,182,133,0.6);
}
#arrowButton {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}

#arrowButton svg {
  max-width: 100%;
  height: auto;
}
.collapse {
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .collapse {
    margin-left: 0;
  }
}