.content{
  /* background: linear-gradient(135deg, rgba(36, 182, 133, 0.4), #004b97aa); */
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalwhat{
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  min-width: 350px;
  z-index: 9000;
  box-shadow: rgba(0,0,0,0.3)0 0 10px;
}
.modalwhat button{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  background-color: #004b97;
  color: #fff;
  cursor: pointer;
  margin-top: 40px;
  border-radius: 50px;
}
.modalwhat button:hover{
  background-color: rgb(36,182,133);
}
input::placeholder {
  opacity: 0.5;
}


.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
  padding-top: 0.4rem;
}



.form-signin input[type="email"] {
  margin-bottom: -24px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.signupForm {
  background-color: #fff;
  border-radius: 10px;
  min-width: 330px;
}
.backlogin {
  text-align: right;
  font-size: 14px;
  display: block;
  cursor: pointer;
}
.form-signemail input[type="email"]{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signpass input[type="password"] {
  margin-bottom: -3px;
  border-radius: 0 !important;
}
.form-signpass input[type="text"] {
  margin-bottom: -3px;
  border-radius: 0 !important;
}
.form-signnick input[type="text"] {
  margin-bottom: -17px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.signbtn{
  margin-top: 6vh !important;
  margin-bottom: 2vh !important;
}
.remind {
  color: #004b97;
  text-align: left;
  margin-left: 8px;
  margin-right: 8px;
}
.checkalert {
  font-size: 20px;
  color: orangered;
  text-align: center;
}
.checkRemind {
  color: black;
  text-align: left;
  margin-left: 16px;
  margin-right: 13px;
}
.checkBackbtn {
  margin-top: 1vh !important;
  margin-bottom: 2vh !important;
}
.policy{
  color: #b1b1b1;
  font-size: 14px;
  text-align: right;
}
.policy a{
  color: rgb(36,182,133) !important;
  cursor: pointer;
}


#loader-wrapper, #loaderLogin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  display: none; /* 預設不顯示 */
  flex-direction: column;
  /* TODO 解決display問題 */
}
#signupLink {
  text-decoration: underline rgb(255, 200, 0);
}
.loader {
  position: relative;
  width: 48px;
  height: 48px;
  background: linear-gradient(to right bottom, #97c3f0, rgb(145, 242, 208));
  transform: rotateX(65deg) rotate(45deg);
  color: #004b9757;
  animation: layers1 1s linear infinite alternate;
}
.warningsign{
  color: #383838;
  font-family: 'TimeMachine';
  margin-top: 10px;
}
.loader:after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgb(36,182,133,0.3);
  animation: layerTr 1s linear infinite alternate;
}

@keyframes layers1 {
  0% { box-shadow: 0px 0px 0 0px; }
  90%, 100% { box-shadow: 20px 20px 0 -4px; }
}

@keyframes layerTr {
  0% { transform: translate(0, 0) scale(1); }
  100% { transform: translate(-25px, -25px) scale(1); }
}
#send:focus{
  outline: none;
}
.css-button-gradient--4 {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #43cea2 0%, #185a9d 75%);
}
.css-button-gradient--4:hover {
  background-position: right center;
}
.css-button-gradient--4:active {
  top: 2px;
}