
.infor ul{
  font-size: 1.6rem !important;
  margin-left: 10rem ;
}
.listdecnone li{
  list-style-type: none;
  margin-left: -2rem;
}
.picintro {
  max-width: 90vw;
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
/* TODO RWD */
/** 平板以上 */
@media (max-width: 750px) {
  
}
/** 手機以上 */
@media (max-width: 384px) {
  
}
.topic {
  text-align: center;
  font-size: 2rem !important;
  color: #383838;
  margin-top: 6rem;
}
.undertopic {
  text-align: center;
  font-size: 1.2rem !important;
  color: #383838;
  margin-top: 1rem;
  margin-bottom: 8rem !important;
  font-weight: 400;
}
.goal {
  color: #004b97;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-weight: 400;
}
.infor p {
  text-align: center;
  font-size: 1.2rem !important;
  color: #383838;
  font-weight: 300;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.infor {
  margin-bottom: 200px;
}
.member {
  background-color: rgba(76, 235, 250, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}